@font-face {
    font-family: 'Raustila';
    src: url("../../Utils/raustila-Regular.ttf");
}

@font-face {
    font-family: 'SuperLine-Regular';
    src: url("../../Utils/Superline-Regular.ttf");
}

.bodyLanding {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: grid;
    grid-template: 
    "navBar"
    "right";
}

.navBar {
    grid-area: navBar;
    position: absolute;
    z-index: 5;
    width: 100%;
}

.rightSide {
    position: relative;
    z-index: 0;
    left: 31vw;
    width: 69vw;    
    height: 100%;
    grid-area: right;
    justify-content: center;
    align-content: center;
}

.avatarCoding {

    position: absolute;
    z-index: 4;
    top: 60px;
    left: 100px;
}

.textContainer {
    margin-left: 20vw;
    margin-right: 6vw;
}

.saludo {
    font-family: 'Raustila';
    margin-top: 20vh;
    font-size: 40px;
    letter-spacing: 4px;
    transform: rotate(-3deg); 
}

.presentacion {
    font-size: 60px;
    margin-top: -15px;
}

.presentacion a {
    text-decoration: none;
    color: transparent; 
}

.presentacion a::before {
    content: attr(data-text);
    position: absolute;
    color: #ffdd1c;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
}

/* .presentacion a:hover::before {
    width: 25%;   
} */


.leftSide {
    position: absolute;
    width: 31vw;
    height: 100vh;
    top: 0;
    grid-area: left;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    
}

switch input {
    opacity: 0;
    width: 0;
    height: 0;

}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 34px;
    background-color: #ccc;
    transition: 0.4s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
}

input:checked + .slider {
    background-color: blueviolet;
}

input:checked + .slider::before {
    transform: translateX(26px);
}

.avatarCodingResponsive {
    display: none;
}

@media screen and (max-width: 1100px) {
    .avatarCoding {
        display: none;
    }

    .saludo {
        margin-top: 90px;
    }

    .avatarCodingResponsive {
        display: initial;
    }

    .rightSide {
        position: initial;
        width: 100vw;
        height: 100%;        
    }

    .presentacion {
        font-size: 50px;
    }

    .textContainer {
        margin: 0;
        text-align: center;
    }
}
