.bodyLanding {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 
    "navBar navBar"
    "left right";
}

.navBar {
    grid-area: navBar;
    background-color: transparent;
}

.rightSide {
    width: 69vw;    
    height: 100vh;
    background-color: hsl(316, 30%, 36%);
    grid-area: right;
    justify-content: center;
    align-content: center;
}

.leftSide {
    width: 31vw;
    background-color: hsl(257, 8%, 18%);
    grid-area: left;
    justify-content: center;
    align-content: center;
}