@font-face {
    font-family: 'Mosk';
    src: url("../../Utils/Mosk\ Thin\ 100.ttf");
}
@font-face {
    font-family: 'MoskBold';
    src: url("../../Utils/Mosk\ Ultra-Bold\ 900.ttf");
}

.infoContainer{
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template: 
    "navBar"
    "card" ;
}

.navBar {
    grid-area: navBar;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
    grid-area: card;
    width: 70vw;
    margin: auto;
}


.decorationOne {
    position: relative;
    top: -80%;
    left: 80%;
}

.circleOne {
    position: relative;
    top: 15rem;
    right: 2rem;
    border-radius: 300px;
    width: 200px;
    height: 200px;
}

.circleTwo {
    background-color: hsl(264, 51%, 71%);
    border-radius: 300px;
    width: 200px;
    height: 200px;
}


.infoTitle {
    position: relative;
    font-family: 'MoskBold', sans-serif;
    font-size: 2.5em;  
    z-index: 1;
}

.sublineTitle {
    position: relative;
    top: -50px;
    z-index: 0;
    width: 150px;
    height: 20px;
    background-color: rgba(255, 102, 148, 0.4);
}

.paragraph {
    font-family: 'Mosk', sans-serif;
    font-size: 1.5em;
    margin-top: -50px;
}


@media screen and (max-width: 1100px) {
.infoContainer{
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template: 
        "navBar"
        "card" ;
    }

    .card {
        display: flex;
        flex-direction: column;
        padding: 20px 40px;
        grid-area: card;
        width: 70vw;
        margin: auto;
    }
 .decorationOne {
    display: none;  
}


}