@font-face {
    font-family: 'MoskBold';
    src: url("../../Utils/Mosk\ Ultra-Bold\ 900.ttf");
}

@font-face {
    font-family: 'Mosk';
    src: url("../../Utils/Mosk\ Thin\ 100.ttf");
}


.mainContainer {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template: 
    "navBar navBar"
    "slider slider"
    "left right" / 500px auto
}

.navContainer {
    grid-area: navBar;
}

.sliderContent {
    grid-area: slider;
    margin-bottom: 80px;
}

.leftContainer {
    grid-area: left;
    margin-left: 3vw;
}

.rightContainer {
    grid-area: right;
    margin-right: 3vw;
}

.proyectTitle {
    position: relative;
    font-family: 'MoskBold', sans-serif;
    font-size: 3rem;
    z-index: 1;
    margin-left: 45px;
}

.sublineTitle {
    margin-left: 35px;
    position: relative;
    bottom: 70px;
    z-index: 0;
    width: 210px;
    height: 30px;
    background-color: rgba(255, 102, 148, 0.4);
}

.card {
    border-radius: 20px;
    margin-top: -40px;
}

.topCard {
    font-size: 50px;
    padding-left: 25px;
    margin: -15px;
}

.textCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.textCard p {
    font-family: 'Mosk', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.linksCard {
    display: flex;
    justify-content: space-between;
    margin: 10px 20px;
}

.linksCard a {
    font-family: 'Mosk', sans-serif;
    font-size: 20px;
    text-decoration: none;
    transition: 0.2s;
}

.linksCard a:hover {
    font-weight: bolder;
}

.cardTwo {
    margin-left: 20rem;
    margin-right: 3rem;
    border-radius: 20px;
}

.cardThree {
    margin: 2rem 15rem 3rem 5rem;
    border-radius: 20px;
}

.linkedinBox a{
    display: inline-block;
    margin: 5rem 1rem 5rem 12rem;
    padding: 10px 15px;
    text-decoration: none;
    font-family: 'MoskBold';
    font-size: 20px;
}

.imgContainer {
    display: flex;
    justify-content: center;
}
